// background styles

.bg {
  &--white { background-color: $white; }
  &--light { background-color: $grey-lightest; }
  &--dark  { background-color: $grey-dark; }
  &--img   { @include background-attributes; }
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    @include background-attributes;
    background-color: $grey-darker;
  }
  &--beige { background-color: $s-beige; }
  &--adventure { background-image: url('../img/content/adventure-bg.jpg'); }
  &--food-and-drink {
    background-image: url('../img/content/food-and-drink-bg.jpg');
    background-image: url('../img/content/food-and-drink-mobile-bg.jpg');
    @include bp($xl) { background-image: url('../img/content/food-and-drink-bg.jpg'); }
  }
  &--relax {
    background-image: url('../img/content/relax-bg.jpg');
    background-image: url('../img/content/relax-mobile-bg.jpg');
    @include bp($xl) { background-image: url('../img/content/relax-bg.jpg'); }
  }
}