---
layout: default
---

<div class="vpad--xl bg--light">
  <div class="container">
    <div class="width width--xl text--xl text--normal text--center">
      <p>{{page.intro}}</p>
      <p><span class="title title--xs text--red">SWISS flights from £82 one-way</span></p>
      <div class="space--md"></div>
      <a href="{{page.link}}" class="btn btn--outline btn--outline-red" id="track-{{page.id}}-intro-btn">Book Now</a>
    </div>
  </div>
</div>

<video class="banner-video" src="{{site.baseurl}}/_assets/video/banner.mp4" autoplay muted loop></video>

<div class="vpad--xxl">
  <div class="container">
    {% for item in page.features %}
      <div class="bob{% cycle '', ' bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{item.id}}.jpg');">
            <a href="{{item.link}}" class="bg-img__link" id="track-{{page.id}}-{{item.id}}-img"></a>
          </div>
        </div>
        <div class="bob__text">
          <h3 class="title text--red title--md">{{item.title}}</h3>
          <p class="text--lg">{{item.description}}</p>
          <div class="space--md"></div>
          <a href="{{item.link}}" class="btn btn--outline btn--outline-red" id="track-{{page.id}}-{{item.id}}-btn">Find Out More</a>
        </div>
      </div>
      {% unless forloop.last %}<div class="space--xxxl"></div>{% endunless %}
    {% endfor %}
  </div>
</div>